/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Nov, 2019, 8:50:53 PM
    Author     : lenovo
*/


*{
margin:0;
padding:0;
font-family:Century Gothic;
}
header
{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("5.jpg");
height:100vh;
font-size: 200%;
background-size:cover;
background-position:center;
}
.main h1{
    color:blue;
    font-size: 70px; 
    position: absolute;
top: 45%;
left:37%;
transform:translate(-50%,-50%);
    
}
.main h1 input{
    color:aqua;
 font-size:50px;
top: 55%;
left: 190%;
position: absolute;  
transform:translate(-50%,-50%);
}
.main u{
color: chocolate;
    font-size: 70px; 
    position: absolute;
top: 30%;
left:50%;
transform:translate(-50%,-50%);    
    
}
.main h2 input{
color: chocolate;
    font-size: 60px; 
    position: absolute;
top: 60%;
left:35%;
transform:translate(-50%,-50%);    
  
    border-radius: 15px;

    
}
.main3 h3 input{
color: chocolate;
    font-size: 60px; 
    position: absolute;
top: 60%;
left:60%;
transform:translate(-50%,-50%);   
    border-radius: 15px;
   
    
}

#bt1{
     border-radius: 15px;
     color: red;
}