/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Feb, 2020, 8:58:46 AM
    Author     : lenovo
*/

*{
margin:0;
padding:0;
font-family:Century Gothic;
}
header
{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("tool.jpg");
height:100vh;
font-size: 200%;
background-size:cover;
background-position:center;
}
.main h1{
    color:blue;
    font-size: 70px; 
    font-family:sans-serif;
    position: absolute;
top: 12%;
width:95%;
text-align: center;
font-style:inherit;   
}
.main1 h1{
    color:cyan;
    font-size: 50px; 
    font-family:sans-serif;
    position: absolute;
top: 26%;
width:30%;
margin-left: 20%;
text-align: center;
font-style:inherit;   
}

.main1 select{
    color:cyan;
    font-size: 50px; 
    font-family:sans-serif;
    position: absolute;
top: 26%;
width:26%;
margin-left: 44%;
text-align: center;
font-style:italic;  
}
.main2 h1{
    color:cyan;
    font-size: 50px; 
    font-family:sans-serif;
    position: absolute;
top: 36%;
width:30%;
margin-left: 20%;
text-align: center;
font-style:inherit;   
}

.main2 select{
    color:cyan;
    font-size: 50px; 
    font-family:sans-serif;
    position: absolute;
top: 36%;
width:26%;
margin-left: 44%;
text-align: center;
font-style:italic;  
}
.main3 h1{
    color:cyan;
    font-size: 50px; 
    font-family:sans-serif;
    position: absolute;
top: 44%;
width:30%;
margin-left: 22%;
text-align: center;
font-style:inherit;   
}
.main3 input{
    color:cyan;
    font-size: 50px; 
    font-family:sans-serif;
    position: absolute;
top: 25%;
width:85%;
margin-left: 2%;
text-align: center;
font-style:inherit; 
    
}
.main3 h2{
    color:cyan;
    font-size: 50px; 
    font-family:sans-serif;
    position: absolute;
top: 54%;
width:30%;
margin-left: 21%;
text-align: center;
font-style:inherit;   
}
.main3 select{
     color:cyan;
    font-size: 50px; 
    font-family:sans-serif;
    position: absolute;
top: 54%;
width:26%;
margin-left: 44%;
text-align: center;
font-style:inherit; 
   
}

.main4 input{
    color:cyan;
    font-size: 50px; 
    font-family:sans-serif;
    position: absolute;
top: 72%;
width:15%;
margin-left: 32%;
text-align: center;
font-style:inherit; 
     
}
.ma input{
    color:cyan;
    font-size: 50px; 
    font-family:sans-serif;
    position: absolute;
top: 72%;
width:15%;
margin-left: 52%;
text-align: center;
font-style:inherit; 
     
}
.avail a{
    color:red;
    font-size: 50px; 
    font-family:sans-serif;
    position: absolute;
top: 79%;
width:15%;
margin-left: 42%;
text-align: center;
font-style:inherit; 
    
    
}
