/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Feb, 2020, 10:04:46 PM
    Author     : lenovo
*/

*{
margin:0;
padding:0;
font-family:Century Gothic;
}
header
{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("8.jpg");
height:100vh;
font-size: 200%;
background-size:cover;
background-position:center;
}

    .main h1{
    color:red;
    font-size: 70px; 
    font-family:sans-serif;
    position: absolute;
    font-family: monospace;
    
top: 40%;
width:95%;
text-align: center;
font-style:inherit;   
}
    
.main h2 input{
    color:blue;
    font-size: 40px; 
    font-family:sans-serif;
    position: absolute;
top: 65%;
width:10%;
height: 5%;
margin-left: 30%;
font-style:inherit;
background-color:red;
    border-radius: 15px;

    
}
.main1 h3 input{
    color:blue;
    font-size: 40px; 
    font-family:sans-serif;
    position: absolute;
top: 65%;
width:15%;
height: 5%;
margin-left: 45%;
font-style:inherit;
    background-color:aqua;
    border-radius: 15px;

}
