/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Nov, 2019, 8:13:58 PM
    Author     : lenovo
*/

*{
margin:0;
padding:0;
font-family:Century Gothic;
}
header
{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("5.jpg");
height:100vh;
font-size: 200%;
background-size:cover;
background-position:center;
}
.main h1{
    color:#000;
    font-size: 70px; 
    position: absolute;
top: 22%;
left:41%;
transform:translate(-50%,-50%);
    
}
.main h1 input{
    color:aqua;
 font-size:50px;
top: 50%;
left: 210%;
position: absolute;  
transform:translate(-50%,-50%);
}
.main h2{  
    color: #000;
    font-size: 70px; 
    position: absolute;
top: 30%;
left:40%;
transform:translate(-50%,-50%);
}
.main h2 input{
    color:aqua;
 font-size:50px;
top: 47%;
left: 188%;
position: absolute;  
transform:translate(-50%,-50%);
}
.main h3{  
    color: #000;
    font-size: 70px; 
    position: absolute;
top: 37%;
left:36%;
transform:translate(-50%,-50%);
}
.main h3 input{
    color:aqua;
 font-size:50px;
top: 57%;
left: 157%;
position: absolute;  
transform:translate(-50%,-50%);
}
.main h4{  
    color: #000;
    font-size: 70px; 
    position: absolute;
top: 44%;
left:42%;
transform:translate(-50%,-50%);
}
.main h4 input{
    color:aqua;
 font-size:50px;
top: 67%;
left: 227%;
position: absolute;  
transform:translate(-50%,-50%);
}
.main h5{  
    color: #000;
    font-size: 70px; 
    position: absolute;
top: 52%;
left:38%;
transform:translate(-50%,-50%);
}
.main h5 input{
    color:aqua;
 font-size:50px;
top: 72%;
left: 170%;
position: absolute;  
transform:translate(-50%,-50%);
}
.main h6{  
    color: #000;
    font-size: 70px; 
    position: absolute;
top: 60%;
left:38%;
transform:translate(-50%,-50%);
}
.main h6 input{
    color:aqua;
 font-size:50px;
top: 67%;
left: 165%;
position: absolute;  
transform:translate(-50%,-50%);
}
.main u{
color:  blue;
    font-size: 70px; 
    position: absolute;
top: 15%;
left:50%;
transform:translate(-50%,-50%);    
    
}
.main a input{
color: brown;
font-size: 60px;
position: absolute;
top: 72%;
left:40%;
transform:translate(-50%,-50%);    
    }
 .main b input{
color: blue;
font-size: 60px;
position: absolute;
top: 72%;
left:60%;
transform:translate(-50%,-50%);    
    }
